# Dependencies
node_modules
__pycache__
*.pyc

# Environment variables
.env
.env.local
.env.*.local

# Build output
.next
build
dist

# Logs
*.log
npm-debug.log*

# IDE
.vscode
.idea

# System files
.DS_Store
Thumbs.db 